# Dependencias del proyecto. Instalar con:  pip install -r requirements.txt
Django==6.1
djangorestframework==3.18.0
python-dotenv==1.2.3
django-cors-headers==4.9.0

# --- AE2 ---
psycopg[binary]==3.2.10   # driver de PostgreSQL
redis==8.1.0              # cliente de Redis y cache (version mas nueva)
pika==1.4.4               # cliente de RabbitMQ (version mas nueva)
reportlab==5.0.1          # generacion del comprobante PDF
qrcode[pil]==8.2          # codigo QR del comprobante
fakeredis==2.38.0         # Redis en memoria para los tests

# --- AE3 (Épica 2) ---
google-auth==2.40.0                      # verificar id_token de Google OAuth2
djangorestframework-simplejwt==5.5.0     # JWT propios (access + refresh tokens)
